h2{background-color: navajowhite;}
.list{display: flex;
list-style: none;
gap: 20px;}
li{background-color: cadetblue;}
.navber{display: flex;
align-items: center;
justify-content: space-around;}
.banner list{display: flex;
        justify-content: center;
        gap: 15px;}
        img{width: 200px;}
        .banner{background-color: burlywood;
    margin: 0 auto;
    width: 1000px;
    padding: 10px; }
    .about{background-color: blueviolet;
    margin: 0 auto;
    width: 1000px;
    padding: 10px; }
.aboutme{display: flex;
    margin: 0 auto;
    gap: 40px}
        .what{padding: 10px;
            background-color: greenyellow;
    width: 1000px;
    margin: 0 auto; 
gap: 10;
box-shadow: 5px 5px 5px black;}
    .e{display: flex;
        gap: 10px;}
        .pic{width: 50px;}
        .mm{background-color: burlywood; padding: 10px;
    width: 1000px;
    margin: 0 auto;
    text-align:content;
    gap:30;}
    .connect{display: flex;
        justify-content: center;
        gap: 15px;
        width: 1000px;
    margin: 0 auto;
background-color: moccasin;
padding: 100px; 
background-image: url(/pic/FB_IMG_1705243177581.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 500px;
border-radius: 500%;}

.l{display: flex;
gap: 20px;
 box-shadow: 5px 5px 10px black}

